.crew-list-info {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .crew-list {
        list-style: none;
        padding: 0;
        margin: 0;
        animation: slideIn 500ms ease-in;

        .crew-card {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 12px;
            padding: 8px;
            border-radius: 8px;
            background: #f8f9fa;
            border: 1.5px solid black;
            transition: transform 300ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }
}


@keyframes slideIn {
    from {
        transform: translateX(110%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}