.issPosition-wrapper {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .card-spinner {
        display: grid;
        place-self: center;
        min-height: 80vh;

        .card-spin {
            width: 65px;
            height: 65px;
            place-self: center;
            border-radius: 50%;
            border: 5px solid #bdbdbd;
            border-top-color: #4500c6;
            animation: rotate 2s infinite;
        }
    }

    .iss-position-info {

        p {
            border: 1.5px solid black;
            padding: 20px;
            border-radius: 8px;
        }


        .iss-map {
            width: 100%;
            height: 80vh;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 15px;
            animation: fade 400ms ease-in;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}